<h1>Welcome to ea.com, <%= @email %></h1>
<p>
  We received your request.<br>
  Here is your request ID: <%= @request_id %> for futher references:<br>
  Details: <%= @description %>.<br>
  <br>
  <br>
</p>
<p>Thanks for helping us in serve you better!</p>